*{
  box-sizing: border-box;
  padding: 0 ;
  margin: 0 ;
}
body{
  background-color: #F2F5FA;
}
.category{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-title > h5{
  font-size: 22px;
}
.dashboard-btn-container{
  display: flex;
  gap: 10px;
}
.box-container{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}
h6{
  font-size: 16px;
}
.box{
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  width: 400px;
  height: 170px;
  box-shadow: 
  0px -5px 10px rgba(240, 240, 245, 0.5),
  0px 5px 10px rgba(240, 240, 245, 0.5), 
  -5px 0px 10px rgba(240, 240, 245, 0.5),
  5px 0px 10px rgba(240, 240, 245, 0.5);
}
.no-data{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100%;
}
.add-widget-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCFCFD;
  box-shadow: 
  0px -5px 10px rgba(240, 240, 245, 0.5),
  0px 5px 10px rgba(240, 240, 245, 0.5), 
  -5px 0px 10px rgba(240, 240, 245, 0.5),
  5px 0px 10px rgba(240, 240, 245, 0.5);
}
.parent{
  width: 100%;
  background-color: #E5E5E5;
  height: 10px;
  border-radius: 10px;
  display: flex;
}
.div1{
  background-color: #6E0F0A;
  width: 24%;
  height: 10px;
  border-radius: 10px 0px 0px 10px;
}
.div2{
  background-color: #C82819;
  width: 24%;
  height: 10px;
}
.div3{
  background-color: #EB9132;
  width: 24%;
  height: 10px;
}
.div4{
  background-color: #F0C341;
  width: 12%;
  height: 10px;
}